<div class="example-container" >
    
    <div style="padding: 20px;">
        <mat-card style="background-color: #727272;">
            <!-- header -->
            <div class="row">
                <div style="background-color: #19196f; color: #fff;width: 100%; text-align: center;padding: 15px;">
                    <div style=" font-size: 35px;
                    font-family: serif;
                    padding: 15px;">PT. ASTRA OTOPARTS DIVISI NUSA METAL</div>
                    <div style="    font-size: 16px;
                    font-family: serif;
                    padding: 7px;">Jl. Raya Penganggasaan Dua Km. 2,1 Kelapa Gading, Jakarta Utara 14250 Indoensia</div>
                </div>
                <div>
        
                </div>
            </div>
            <!-- loading unloading gambar -->
            <div class="row">
                <div class="col-6" style="padding: 0;">
                    <div style="    height: 165px;
                    background-color: #696969;
                    padding: 20px;
                    text-align-last: center;">
                    <div style="    font-size: 25px;
                    font-family: serif;">Loading</div> 
                    <div style="    font-size: 25px;
                    font-family: serif; padding: 35px;">PT angkasa pura</div> 
                </div>
                    <div style="   height: 165px;
                    background-color: #bdb76b;
                    padding: 20px;
                    text-align-last: center;">
                     <div style="    font-size: 25px;
                     font-family: serif;">Unloading</div> 
                     <div style="    font-size: 25px;
                     font-family: serif; padding: 35px;">PT angkasa pura</div> 
                </div>
                </div>
                <div class="col-6" style="padding: 0;">
                    <img src="../../assets/png/logo-astra-otoparts-600x600.jpg" alt="Trulli" style="width: 100%; height: 100%;">
                </div>
            </div>
            <div class="row" style="background-color: #8ebc8e;">
                <!-- bisa di ng for -->
                <div class="col-2 padding_footer">
                    <div>Antiran</div>
                    <div class="antrian">PT anak bangsa</div>
                </div>
                 <div class="col-2 padding_footer">
                    <div>Antiran</div>
                    <div class="antrian">PT anak bangsa</div>
                </div>
                <div class="col-2 padding_footer">
                    <div>Antiran</div>
                    <div class="antrian">PT anak bangsa</div>
                </div>
                <div class="col-2 padding_footer">
                    <div>Antiran</div>
                    <div class="antrian">PT anak bangsa</div>
                </div>
                <div class="col-2 padding_footer">
                    <div>Antiran</div>
                    <div class="antrian">PT anak bangsa</div>
                </div>
                <div class="col-2 padding_footer">
                    <div>Antiran</div>
                    <div class="antrian">PT anak bangsa</div>
                </div>
            </div>
        </mat-card>
    </div>

    <!-- <mat-card>Simple card</mat-card> -->
</div>
